body {
  border: 2px #f00 solid;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* For demo */
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

<<<<<<< HEAD
.ant-carousel .slick-slide h3 {
  color: #fff;
}

.box {
  border: 2px #f00 solid;
  display: flex;
}
.car {
  flex-grow: 1;
  width: 1px;
}
.div {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
.none {
  display: none;
}
.block {
  display: block;
}
a.active {
  color: #F00;
=======
.on{
	width: 100%;
>>>>>>> 94df054bd826831dd48670afa3c4611e3b2c66c5
}